* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  background-color:
}

img {
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  height: 200px;
  position: relative;
}

.nav navbar-nav img {
  position: absolute;
  bottom: 500px;
}


.button {
  background-color: #3367d6;
  border: #3367d6;
  color: #3367d6;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
}
